body{
    background: #222;
    min-height: 100vh;
    display: grid;
    place-items: center;
    color: white;
    font-family: sans-serif;
}
.glitch
{
    font-size: 6rem;
    font-weight: 700;
    text-transform: uppercase;
}
